@charset "utf-8"
/*sass comment*/
//comment
h1{
  color:red;
}
h1
  color:red;
h1
  color red;

$color:blue
color:blue

body{
  header{

  }
  section{

  }
}

alert($color=blue) {
  color:$color;
}

.block{
  padding:5px;
  margin:10px;
}
p{
  @extend .block
}

